body {
    margin: 0;
    display: flex;
    background-image: url(galaxy.jpeg);
    width: min(100% -2rem);
    margin-inline: auto ;
   
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gris {
   
    visibility: visible;
    position: absolute;
    float: left;   
    height: 250px;
    width: 200px;
    
}

.cuerpo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
}

aside {
    background-color: white;
    width: 200px;
    padding: 10px;
    margin-left: 30px;
  
}

.fotoPerfilDiv {
    display: flex;
    justify-content: end;
   
    
}

.fotoPerfil {
    width: 200px;
    z-index: 1;

}

.perfilDIV {
    text-align: right;   
}

.icono {
    width: 25px;
}

article {
    margin-top: 50px;
    padding: 30px;
    margin-left: 50px;
}